.Navigation {
  top: 0;
  width: 92%;
  background-color: rgba(red, green, blue, 0);
  color: white;
  display: flex;
  padding: 1vw 4vw 1vw 4vw;
  margin-left: -3vw;
  position: fixed;
  z-index: 50;
  box-shadow: inset 0px 50px 15px -1px rgba(0, 0, 0, 0.54);
}
.Navigation img {
  width: 3vw;
  padding-right: 5vw;
}
.Navigation img:hover {
  cursor: pointer;
}
.NavigationUl {
  list-style: none;
  display: flex;
  margin: auto;
}
.NavigationUl li {
  margin: 1vw 3vw 0 0;
  font-size: 1.2vw;
}
.HomeNavigation {
  padding-left: 5vw;
}
.NavigationUl li:hover {
  cursor: pointer;
  color: rgb(110, 110, 110);
}
.Search {
  width: 12vw;
  height: 100%;
}
.Input {
  display: flex;
  padding: 0.6vw;
  float: right;
  width: 40%;
  color: rgb(200, 200, 200);
  transition: all 0.3s ease-out;
}
.Input:hover {
  border: solid 0.15vw white;
  border-radius: 15px;
  width: 100%;
}
.Input input {
  padding-left: 0.3vw;
  font-size: 1vw;
  border: none;
  opacity: 0;
  background-color: rgba(20, 20, 20, 0);
  color: white;
  width: 80%;
  transition: all 0.3s ease-out;
}
.Input input:focus {
  border: none;
  box-shadow: none;
  opacity: 1;
  outline: none;
}
.Input:focus-within {
  border: solid 0.15vw white;
  border-radius: 15px;
  width: 100%;
}

.Input input:hover {
  width: 80%;
  opacity: 1;
}
.NavLink {
  text-decoration: none;
  color: inherit;
  margin: auto;
}
.DivLeft {
  float: left;
  padding-right: 1vw;
}
.DivRight {
  position: absolute;
  margin-left: 3.5vw;
  margin-top: -0.4vw;
  font-size: 1.2vw;
  background-color: rgb(212, 0, 0);
  padding: 0.1vw 0.4vw 0.1vw 0.3vw;
  border-radius: 50%;
  font-weight: 600;
  color: rgb(200, 200, 200);
}
.SearchDiv {
  position: absolute;
  color: rgb(230, 230, 230);
  background-color: rgb(43, 43, 43);
  width: 90%;
  margin-top: 6vw;
  padding: 0vw 2vw 2vw 2vw;
  border-radius: 3px;
}
.SearchDiv ul {
  overflow-y: auto;
  max-height: 70vh;
  padding: 0;
  margin: 0;
  list-style: none;
}
.SearchDiv ul li {
  background-color: rgb(20, 20, 20);
  padding: 1vw;
  margin-bottom: 2vw;
  display: flex;
}
.SearchDiv ul li:last-child {
  margin-bottom: 0;
}
.SearchDiv ul li img {
  height: 7vw;
  width: auto;
}
.SearchDivParagraph {
  margin-right: 3vw;
  width: 50%;
}
.SearchDivTitle {
  font-size: 2vw;
  padding-right: 2vw;
}
.SearchDivRate {
  font-size: 1.2vw;
  margin-top: 0.5vw;
}
.SearchDivBody {
  font-size: 1.1vw;
  margin-top: 0.5vw;
}
.SearchDivButton {
  display: flex;
  margin-left: 1vw;
  font-size: 1vw;
  border: solid 1px rgb(230, 230, 230);
  background-color: rgba(20, 20, 20, 0.5);
  color: rgb(230, 230, 230);
  padding: 1vw;
  text-align: center;
  height: 3vw;
}
.SearchDivButton:hover {
  cursor: pointer;
  background-color: rgba(200, 200, 200, 0.3);
}
.SearcDivAddRemoveMyList {
  padding-left: 4vw;
}
.SearchDivClose {
  margin-right: 1vw;
  margin-top: 1vw;
  font-size: 2vw;
  float: right;
  color: rgb(212, 0, 0);
}
.SearchDivClose:hover {
  cursor: pointer;
}

@media (max-width: 500px) {
  .Navigation {
    height: 10vw;
    padding: 1vw 4vw 1vw 4vw;
  }
  .Navigation img {
    width: 8vw;
    padding-right: 0;
  }
  .NavigationUl {
    margin: 2vw 0 0 -5vw;
  }
  .NavigationUl li {
    font-size: 4vw;
    margin: 2vw 5vw 0 0vw;
  }
  .NavigationUl li:hover {
    width: 100%;
  }
  .Search {
    margin-left: -4vw;
    width: 35vw;
    margin-top: 2vw;
  }
  .Input {
    padding: 0;
  }
  .FontAwesomeIcon {
    font-size: 3.3vw;
    padding: 0.7vw 0.6vw 0 1vw;
  }
  .Input input {
    margin-top: 0;
    font-size: 3vw;
  }
  .SearchDiv ul li img {
    height: 15vw;
    width: auto;
    margin-right: 2vw;
  }
  .SearchDivTitle {
    font-size: 3vw;
  }
  .SearchDivRate {
    font-size: 2.4vw;
  }
  .SearchDivBody {
    margin-top: 1.5vw;
    font-size: 2vw;
  }
  .SearchDivButton {
    margin-top: 1vw;
    font-size: 3vw;
    height: 100%;
  }
  .SearcDivAddRemoveMyList {
    padding-left: 2vw;
  }
  .DivRight {
    margin-left: 11.5vw;
    padding: 0 1vw 0 1vw;
    font-size: 3.4vw;
  }
  .NavigationUl li:first-child {
    margin-left: 0vw;
  }
  .SearchDivClose {
    padding: 1.5vw;
    font-size: 5vw;
  }
  .SearchDiv {
    margin-top: 15vw;
  }
}

@media (min-width: 501px) and (max-width: 1000px) {
  .Navigation img {
    width: 6vw;
  }
  .NavigationUl li {
    font-size: 2vw;
    margin: 2vw 4.8vw 0 0vw;
  }
  .Search {
    width: 15vw;
    height: 100%;
  }
  .Search div input {
    font-size: 2vw;
  }
  .Search div {
    padding: 1.5vw 1vw 1vw 1vw;
  }
  .DivRight {
    margin-left: 5.8vw;
    padding: 0.05vw 0.6vw 0.05vw 0.4vw;
    font-size: 1.6vw;
  }
}
