.MyList {
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  padding: 6vw 6vw 0vw 3vw;
}
.MyListEmpty {
  border-radius: 10px;
  padding: 2vw;
  background-color: rgb(24, 24, 24);
  font-size: 4vw;
  font-weight: 600;
  left: 28.5vw;
  top: 45%;
  position: absolute;
  color: #2c2c2c;
}
.MyList li {
  /* background-color: rgb(24, 24, 24); */
  background-color: rgb(36, 36, 36);
  border-radius: 10px;
  color: rgb(230, 230, 230);
  padding: 1vw 5vw 1.5vw 5vw;
  margin-top: 3vw;
}
.Title {
  font-size: 3vw;
  font-weight: 600;
  margin-bottom: 2vw;
}
.Duration {
  margin-left: 1vw;
  margin-bottom: 0.5vw;
}

.Body {
  margin-left: 5vw;
  font-size: 1.3vw;
}
.Body button {
  font-size: 1vw;
  border: solid 1px rgb(230, 230, 230);
  background-color: rgba(20, 20, 20, 0.5);
  color: rgb(230, 230, 230);
  padding: 0.5vw 1vw 0.5vw 1vw;
  margin-top: 3vw;
  margin-left: 45%;
  text-align: center;
}
.Body button:hover {
  cursor: pointer;
  background-color: rgba(200, 200, 200, 0.3);
}
.RemoveList {
  color: rgb(212, 0, 0);
  float: right;
  display: flex;
  padding: 1vw 1vw 1vw 2vw;
  font-size: 3vw;
}

.RemoveList:hover {
  transition: all 0.3s;
  cursor: pointer;
}

@media (max-width: 800px) {
  .MyListEmpty {
    font-size: 7vw;
    left: 14vw;
    top: 55%;
  }
}
@media (max-width: 1000px) {
  .MyList {
    padding: 9vw 6vw 0 3vw;
  }
  .Body {
    font-size: 2vw;
  }
  .Body button {
    margin-left: 35%;
    font-size: 2vw;
  }
}
@media (max-width: 650px) {
  .MyList {
    padding: 12vw 7vw 0 3vw;
  }
  .MyList img {
    width: auto;
    height: 15vh;
  }
  .Title {
    font-size: 4vw;
  }
  .Body {
    font-size: 2.3vw;
  }
  .Body button {
    font-size: 3vw;
    margin-left: 30%;
  }
  .Duration {
    font-size: 2.3vw;
  }
  .Category {
    font-size: 2.3vw;
  }
  .RemoveList {
    font-size: 5vw;
  }
}
@media (max-width: 400px) {
  .MyList img {
    height: 12vh;
    width: auto;
  }
}
